@media (min-width: 700px) and (max-width: 1170px) {
    .center {
        padding-left: calc(50% - 360px);
        padding-right: calc(50% - 360px);
    }

    .header {
        height: 90px;
    }
    
    .logo__img {
        width: 140px;
        height: auto;
    }

    .menu {
        padding-left: 34px;
        gap: 14px;

        &-link {
            font-size: 14px;
        }
    }

    .top {
        &__content{
            &-box {
                width: auto;
                height: 439px;
                position: relative;
            }
        }

        &__left {
            margin-top: 15px;
        }

        &__title {
            font-size: 32px;
        }

        &__description {
            font-size: 21px;
            margin-bottom: 20px;
        }

        &__img {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 370px;
        }
    }

    .tags {
        &__title {
            margin-top: 50px;
            font-size: 32px;
        }

        &__content {
            &-box {
                flex-direction: column;
            }
        }

        &__text {
            width: auto;
        }
    }

    .about-us {
        height: auto;
        padding-bottom: 50px;

        &__content {
            flex-direction: column;
            width: auto;
            align-items: center;
        }

        &__text {
            width: auto;
        }
    }

    .doctors {
        height: 780px;

        &__title {
            padding-top: 70px;
        }

        &__content {
            justify-content: flex-start;
            width: auto;
            gap: 30px;
        }

        &__slider_doc-page {
            display: block;
        }

        &__people_doc-page {
            overflow: hidden;
        }
    }

    .sale {
        &__img-box {
            display: none;
        }

        &__content {
            width: inherit;    
            padding: 0px 100px 0px 100px;
        }

        &__svg {
            top: 44%;
            right: 120px;
        }
    }

    .feedback {
        height: auto;

        &__content {
            width: auto;
            flex-direction: column;
            align-items: center;

            &-left {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &__title {
            width: 548px;
        }
    }

    .reviews {
        height: auto;
        padding-bottom: 100px;

        &__title {
            padding-top: 100px;
        }

        &__content {
            overflow: hidden;
            width: auto;
        }

        &__clients {
            gap: 150px;
            width: auto;
        }

        &__case {
            width: 516px;
        }
    }

    .footer {
        &__name-big {
            font-size: 100px;
        }

        &__name-small {
            left: 15%;
            bottom: 25px;
        }
    }

    .contacts {
        height: auto;

        &__title {
            font-size: 34px;
        }

        &__button {
            gap: 5px;
            padding: 5px;
        }

        &__map {
            width: fit-content;
        }

        &__content {
            width: auto;
            flex-direction: column;
            padding-bottom: 20px;
            align-items: center;
        }
    }

    .padding {
        height: 50px;
    }

    .service {
        height: 5200px;

        &__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            width: auto;  
            height: 527px;   
        }

        &__button {
            display: none;

            &_mob {
                display: flex;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
}

@media (min-width: 1023px) and (max-width: 1170px) {
    .center {
        padding-left: calc(50% - 450px);
        padding-right: calc(50% - 450px);
    }

    .menu {
        gap: 24px;
        padding-left: 47px;
    }

    .top__img {            
        right: -46px;
    }

    .top__left {
        margin-top: 75px;
    }
    

    .tags__title {
        margin-top: 70px;
    }      

    .doctors__content {
        gap: 37px;
    }
    
    .sale {
        justify-content: flex-start;

        &__img-box {
            display: block;
        }

        &__content {
            padding: 0px 85px 0px 10px;

            &-box {
                padding: 0;
            }
        }

        &__title {
            margin-top: 110px;
        }

        &__description {
            width: 410px;
        }

        &__condition {
            width: 410px;
        }

        &__svg {
            right: 432px;
        }
    }

    .feedback {
        height: 524px;

        &__content-left {
            width: 557px;
            display: block;
        }  
        
        &__title {
            width: 600px;
            padding-left: 10px;
        }

        &__content {
            position: relative;
            width: 1440px;
            flex-direction: row;
            align-items: normal;
        }

        &__img {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        &__form {
            width: 530px;
            margin-left: 10px;
        }

        &__input, &__button {
            padding-right: 12px;
            width: 500px;
        }
    }

    .reviews {
        &__content {
            overflow: inherit;
            gap: 25px;
        }

        &__clients {
            gap: 30px;
        }

        &__case {
            width: auto;
        }

        &__date {
            bottom: 20px;
        }
    }

    .footer__name-small {
        left: 21%;
    }

    .service {
        height: 3246px;

        &__content {
            display: flex;
            height: 307px;
        }

        &__button {
            display: flex;

            &_mob {
                display: none;
            }
        }
    }
}