* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica', sans-serif;
}

.center {
    padding-left: calc(50% - 540px);
    padding-right: calc(50% - 540px);
}

.top {
    height: 529px;
    background-image: url(img/top-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__content-box {
        width: 1120px;
        height: 400px;
        display: flex;
        justify-content: space-between;
    }

    &__left {
        margin-top: 75px;
    }

    &__title {
        width: 433px;
        color: rgba(92, 92, 92, 1);
        font-size: 36px;
        font-weight: 700;
        text-align: left;
        margin-bottom: 12px;
    }

    &__description {
        width: 433px;
        color: rgba(92, 92, 92, 1);
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin-bottom: 36px;
    }
}

.header {
    height: 129px;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 28px;
    align-items: flex-start;
    padding-left: 61px;

    &-link {
        color: rgba(92, 92, 92, 1);
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        text-align: left;
    }

    &-link:hover,
    &-link_now {
        color: rgba(103, 173, 161, 1);
        font-weight: 700;
        position: relative;
    }

    // &-link_now {
    //     line-height: normal;
    // }

    &-link_now::after  {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: rgba(103, 173, 161, 1);
        border-radius: 16px;
        z-index: -1;
    }
}

.top__button,
.footer__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 154px;
    height: 50px;
    border-radius: 16px;
    background: rgba(103, 173, 161, 1);
    color: rgba(243, 243, 243, 1);
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.tags {
    height: 591px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: rgba(243, 243, 243, 1);
    background-image: url(img/tags-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;

    &__title {
        height: 50px;
        margin-top: 140px;
        color: rgba(103, 173, 161, 1);
        font-size: 36px;
        font-weight: 700;
        text-align: left;
    }

    &__content {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    &__img {
        height: 75px;
        width: 75px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__h3 {
        color: rgba(103, 173, 161, 1);
        font-family: Arial;
        font-size: 20px;
        font-weight: 700;
        text-align: left;
    }

    &__text {
        color: rgba(103, 173, 161, 1);
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        width: 455px;
        line-height: 24px;
    }
}

.about-us {
    height: 530px;
    background: var(--Brand, rgba(103, 173, 161, 1));
    background-image: url(img/about-us-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    &__title {
        color: rgba(243, 243, 243, 1);
        font-family: Arial;
        font-size: 24.5px;
        font-weight: 700;
        line-height: 100%;
        text-align: left;
        padding-top: 40px;
        padding-bottom: 24px;
    }

    &__content {
        display: flex;
        gap: 20px;
        width: 1120px;
    }

    &__text {
        width: 550px;
        color: rgba(243, 243, 243, 1);
        font-size: 16px;
        font-weight: 400;
        line-height: 135%;
        text-align: left;
    }

    &__img-box {
        width: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    &__img {
        border-radius: 12px;
    }
}

.doctors {
    height: 832px;
    background: rgba(243, 243, 243, 1);
    background-image: url(img/doctors-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        color: rgba(103, 173, 161, 1);
        font-size: 36px;
        font-weight: 700;
        line-height: 100%;
        text-align: left;
        padding-bottom: 24px;
        padding-top: 100px;
    }

    &__content {
        display: flex;
        height: 558px;
        width: 1120px;
        justify-content: space-between;
        align-items: center;
        gap: 47px;
    }

    &__slider {
        height: 47px;
        width: 47px;
    }

    &__people {
        width: 932px;
        height: 558px;
        overflow: hidden;
        display: flex;
        gap: 20px;
    }

    &__case {
        width: 265px;
        height: 538px;
        box-sizing: border-box;
        border: 1px solid rgba(238, 238, 238, 1);
        border-radius: 12px;
        box-shadow: 0px 4px 4px 0px rgba(56, 56, 56, 0.45);
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
        padding: 12px;

        &-down {
            height: 156px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__photo {
        border-radius: 12px;
        width: 241px;
        height: 346px;
    }

    &__name-box {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
    }

    &__name {
        color: rgba(92, 92, 92, 1);
        font-size: 16px;
        font-weight: 700;
        line-height: 125%;
        text-align: center;
        height: 44px;
    }

    &__speciality {
        color: rgba(92, 92, 92, 1);
        font-size: 16px;
        font-weight: 400;
        line-height: 125%;
        text-align: center;
    }

    &__button {
        color: rgba(255, 255, 255, 1);
        font-size: 20px;
        font-weight: 700;
        line-height: 100%;
        text-align: center;
        border-radius: 16px;
        background: rgba(103, 173, 161, 1);
        display: flex;
        width: 241px;
        height: 52px;
        justify-content: center;
        align-items: center;
    }
}

.sale {
    background-image: url(img/sale-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
    &__box {
        height: 524px;
        width: 1440px;
        display: flex;        
    }

    &__img-box {
        height: 524px;
        width: 524px;  
    }

    &__img {
        height: 524px;
    }

    &__content {
        width: 916px;
        padding: 0px 24px 0px 48px;
        position: relative;
    }

    &__title, &__description, &__condition {
        color: #F3F3F3;
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.10);
        font-size: 36px;
        font-weight: 400;
        line-height: normal;
        margin-top: 175.5px;
    }

    &__description {
        font-size: 24px;
        margin-top: 24px;
    }

    &__condition {
        font-size: 16px;
        margin-top: 12px;
        line-height: 150%;
    }

    &__svg {
        position: absolute;
        right: 24px;
        top: 50%;
    }
}

.feedback {
    height: 524px;    
    background-image: url(img/form-background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;

    &__content {
        display: flex;
        width: 1440px;

        &-left {
            width: 973px;
            height: 524px;
            padding-left: calc(50% - 540px);

        }

        &-right {
            height: 524px;
        }
    }

    &__img {
        height: 524px;
    }

    &__title {
        color: #f3f3f3;
        font-size: 24px;
        font-weight: 700;
        line-height: 100%;
        text-align: left;
        padding-top: 41px;
        padding-bottom: 32px;
        width: 633px;
    }

    &__form {
        width: 548px;
        height: 344px;
        border-radius: 16px;
        background: rgba(243, 243, 243, 1);
    }

    &__text-top {
        color: rgba(103, 173, 161, 1);
        font-size: 24px;
        font-weight: 700;
        line-height: 100%;
        text-align: center;
        padding-top: 32px;
        margin-bottom: 12px;
    }

    &__input {
        width: 516px;
        height: 60px;
        box-sizing: border-box;
        border: 1px solid rgba(235, 235, 235, 1);
        border-radius: 20px;
        background: none;
        color: rgba(170, 170, 170, 1);
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        padding-left: 12px;
        font-family: inherit;
        margin-bottom: 8px;
        outline: none;
        margin-left: 16px;
    }

    &__input::placeholder {
        color: rgba(170, 170, 170, 1);
    }

    &__text-down {
        color: rgba(103, 173, 161, 1);
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        width: 358px;
        height: 36px;
        margin-bottom: 16px;
        margin-left: 16px;
    }

    &__button {
        width: 516px;
        height: 52px;
        border-radius: 16px;
        border: none;
        background: rgba(103, 173, 161, 1);
        color: rgba(255, 255, 255, 1);
        font-family: inherit;
        font-size: 20px;
        font-weight: 700;
        line-height: 100%;
        text-align: center;
        margin-left: 16px;
        cursor: pointer;
    }

    &__button:hover {
        background: rgba(104, 108, 107, 1);
    }
}

.reviews {
    height: 697px;
    background-image: url(img/reviews-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        color: rgba(103, 173, 161, 1);
        font-size: 36px;
        font-weight: 700;
        line-height: 100%;
        text-align: left;
        padding-bottom: 24px;
        padding-top: 140px;
    }

    &__content {
        display: flex;
        height: 310px;
        width: 1120px;
        justify-content: space-between;
        align-items: center;
        gap: 48px;
    }

    &__slider {
        height: 47px;
        width: 47px;
    }

    &__clients {
        display: flex;
        gap: 20px;
        width: 930px;
        height: 310px;
    }

    &__case {
        width: 455px;
        height: 310px;
        background: #67ADA1;
        border-radius: 12px;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
    }

    &__name {
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        color: #F3F3F3;
        margin-top: 40px;
    }

    &__service,
    &__text,
    &__date {
        color: #F3F3F3;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
    }

    &__text,
    &__date {
        font-weight: 400;
    }

    &__name,
    &__service {
        margin-bottom: 12px;
    }

    &__date {
        position: absolute;
        bottom: 40px;
    }
}

.footer {
    height: 425px;

    &__content {
        height: 401px;
        background-image: url(img/footer-background2.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        gap: 41px;
    }

    &__contacts-box {
        display: flex;
        padding-top: 40px;
        justify-content: space-between;
    }

    &__contacts {
        width: 335px;
        height: 128px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        color: #F3F3F3;
    }

    &__address {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #F3F3F3;
        width: 360px;
    }

    &__sign-up {
        width: 360px;
        height: 109px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
    }

    &__button {
        color: #67ADA1;
        background-color: #F3F3F3;
    }

    &__name-clinic {
        height: 192px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__name-big {
        color: #F3F3F3;
        font-family: "Marck Script";
        font-size: 128px;
        font-weight: 400;
        line-height: 150%;
        display: block;
    }

    &__name-small {
        color: #F3F3F3;
        font-family: "Marck Script";
        display: block;
        font-size: 40px;
        font-weight: 400;
        line-height: 150%;
        position: absolute;
        bottom: 0;
        left: 266px;
    }

    &__nav {
        height: 24px;
        display: flex;
        gap: 28px;
        justify-content: flex-end;
    }

    &__link {
        color: #67ADA1;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
    }
}