* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica", sans-serif;
}

.center {
  padding-left: calc(50% - 560px);
  padding-right: calc(50% - 560px);
}

.top {
  height: 529px;
  background-image: url(img/top-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top__content-box {
  width: 1120px;
  height: 400px;
  display: flex;
  justify-content: space-between;
}
.top__left {
  margin-top: 75px;
}
.top__title {
  width: 433px;
  color: rgb(92, 92, 92);
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 12px;
}
.top__description {
  width: 433px;
  color: rgb(92, 92, 92);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 36px;
}

.header {
  height: 129px;
  display: flex;
  align-items: center;
  background: rgb(243, 243, 243);
}
.header_main {
  background: none;
}

.menu {
  display: flex;
  gap: 28px;
  align-items: flex-start;
  padding-left: 61px;
}
.menu-link {
  color: rgb(92, 92, 92);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}
.menu-link:hover, .menu-link_now {
  color: rgb(103, 173, 161);
  font-weight: 700;
}
.menu-link_now {
  position: relative;
}
.menu-link_now::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgb(103, 173, 161);
  border-radius: 16px;
}

.top__button, .service__button,
.footer__button,
.contacts__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 154px;
  height: 50px;
  border-radius: 16px;
  background: rgb(103, 173, 161);
  color: rgb(243, 243, 243);
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  border: none;
  cursor: pointer;
}

.tags {
  height: 591px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: rgb(243, 243, 243);
  background-image: url(img/tags-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw;
}
.tags__title {
  height: 50px;
  margin-top: 140px;
  color: rgb(103, 173, 161);
  font-size: 36px;
  font-weight: 700;
  text-align: left;
}
.tags__content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.tags__img {
  height: 75px;
  width: 75px;
}
.tags__description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tags__h3 {
  color: rgb(103, 173, 161);
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}
.tags__text {
  color: rgb(103, 173, 161);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  width: 455px;
  line-height: 24px;
}

.about-us {
  height: 530px;
  background: var(--Brand, rgb(103, 173, 161));
  background-image: url(img/about-us-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-us__title {
  color: rgb(243, 243, 243);
  font-family: Arial;
  font-size: 24.5px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 24px;
}
.about-us__content {
  display: flex;
  gap: 20px;
  width: 1120px;
}
.about-us__text {
  width: 550px;
  color: rgb(243, 243, 243);
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  text-align: left;
}
.about-us__img-box {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.about-us__img {
  border-radius: 12px;
}

.doctors {
  height: 832px;
  background: rgb(243, 243, 243);
  background-image: url(img/doctors-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.doctors_doc-page {
  height: 1507px;
  background-image: url(img/doctors-background-doc-page.png);
  background-size: cover;
}
.doctors__title {
  color: rgb(103, 173, 161);
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  padding-bottom: 24px;
  padding-top: 100px;
}
.doctors__title_doc-page {
  padding-top: 0;
}
.doctors__content {
  display: flex;
  height: 558px;
  width: 1120px;
  justify-content: space-between;
  align-items: center;
  gap: 47px;
}
.doctors__slider {
  height: 47px;
  width: 47px;
}
.doctors__people {
  width: 932px;
  height: 558px;
  overflow: hidden;
  display: flex;
  gap: 20px;
}
.doctors__people_doc-page {
  width: 1118px;
  overflow: inherit;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 44px;
}
.doctors__case {
  width: 265px;
  height: 538px;
  box-sizing: border-box;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(56, 56, 56, 0.45);
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.doctors__case-down {
  height: 156px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.doctors__photo {
  border-radius: 12px;
  width: 241px;
  height: 346px;
}
.doctors__name-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}
.doctors__name {
  color: rgb(92, 92, 92);
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  text-align: center;
  height: 44px;
}
.doctors__speciality {
  color: rgb(92, 92, 92);
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  text-align: center;
}
.doctors__button {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  border-radius: 16px;
  background: rgb(103, 173, 161);
  display: flex;
  width: 241px;
  height: 52px;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.sale {
  background-image: url(img/sale-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.sale__box {
  height: 524px;
  width: 1440px;
  display: flex;
}
.sale__img-box {
  height: 524px;
  width: 524px;
}
.sale__img {
  height: 524px;
}
.sale__content {
  width: 916px;
  padding: 0px 24px 0px 48px;
  position: relative;
}
.sale__title, .sale__description, .sale__condition {
  color: #F3F3F3;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
  margin-top: 175.5px;
}
.sale__description {
  font-size: 24px;
  margin-top: 24px;
}
.sale__condition {
  font-size: 16px;
  margin-top: 12px;
  line-height: 150%;
}
.sale__svg {
  position: absolute;
  right: 24px;
  top: 50%;
}

.feedback {
  height: 524px;
  background-image: url(img/form-background2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.feedback__content {
  display: flex;
  width: 1440px;
}
.feedback__content-left {
  width: 973px;
  height: 524px;
  padding-left: calc(50% - 540px);
}
.feedback__content-right {
  height: 524px;
}
.feedback__img {
  height: 524px;
}
.feedback__title {
  color: #f3f3f3;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  padding-top: 41px;
  padding-bottom: 32px;
  width: 633px;
}
.feedback__form {
  width: 548px;
  height: 344px;
  border-radius: 16px;
  background: rgb(243, 243, 243);
}
.feedback__text-top {
  color: rgb(103, 173, 161);
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  padding-top: 32px;
  margin-bottom: 12px;
}
.feedback__input {
  width: 516px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 20px;
  background: none;
  color: rgb(170, 170, 170);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  padding-left: 12px;
  font-family: inherit;
  margin-bottom: 8px;
  outline: none;
  margin-left: 16px;
}
.feedback__input::-moz-placeholder {
  color: rgb(170, 170, 170);
}
.feedback__input::placeholder {
  color: rgb(170, 170, 170);
}
.feedback__text-down {
  color: rgb(103, 173, 161);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  width: 358px;
  height: 36px;
  margin-bottom: 16px;
  margin-left: 16px;
}
.feedback__button {
  width: 516px;
  height: 52px;
  border-radius: 16px;
  border: none;
  background: rgb(103, 173, 161);
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  margin-left: 16px;
  cursor: pointer;
}
.feedback__button:hover {
  background: rgb(104, 108, 107);
}

.reviews {
  height: 697px;
  background-image: url(img/reviews-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews__title {
  color: rgb(103, 173, 161);
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  padding-bottom: 24px;
  padding-top: 140px;
}
.reviews__content {
  display: flex;
  height: 310px;
  width: 1120px;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.reviews__slider {
  height: 47px;
  width: 47px;
}
.reviews__clients {
  display: flex;
  gap: 20px;
  width: 930px;
  height: 310px;
}
.reviews__case {
  width: 455px;
  height: 310px;
  background: #67ADA1;
  border-radius: 12px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.reviews__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #F3F3F3;
  margin-top: 40px;
}
.reviews__service, .reviews__text, .reviews__date {
  color: #F3F3F3;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
}
.reviews__text, .reviews__date {
  font-weight: 400;
}
.reviews__name, .reviews__service {
  margin-bottom: 12px;
}
.reviews__date {
  position: absolute;
  bottom: 40px;
}

.footer {
  height: 425px;
}
.footer__content {
  height: 401px;
  background-image: url(img/footer-background2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.footer__contacts-box {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
}
.footer__contacts {
  width: 335px;
  height: 128px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #F3F3F3;
}
.footer__address {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #F3F3F3;
  width: 360px;
}
.footer__sign-up {
  width: 360px;
  height: 109px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 11px;
}
.footer__button, .contacts__button {
  color: #67ADA1;
  background-color: #F3F3F3;
}
.footer__name-clinic {
  height: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.footer__name-big {
  color: #F3F3F3;
  font-family: "Marck Script";
  font-size: 128px;
  font-weight: 400;
  line-height: 150%;
  display: block;
}
.footer__name-small {
  color: #F3F3F3;
  font-family: "Marck Script";
  display: block;
  font-size: 40px;
  font-weight: 400;
  line-height: 150%;
  position: absolute;
  bottom: 0;
  left: 266px;
}
.footer__nav {
  height: 24px;
  display: flex;
  gap: 28px;
  justify-content: flex-end;
}
.footer__link {
  color: #67ADA1;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.padding {
  height: 100px;
  background: #F3F3F3;
}

.contacts {
  height: 550px;
  background-image: url(img/doc-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts__title {
  width: 710px;
  color: #F3F3F3;
  font-size: 36px;
  font-weight: bold;
  line-height: normal;
}
.contacts__title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}
.contacts__content {
  width: 1120px;
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
.contacts__map {
  border-radius: 16px;
  height: 378.283px;
}
.contacts__info {
  width: 536px;
  height: 374px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contacts__info-case {
  display: flex;
  gap: 20px;
  height: 179px;
}
.contacts__address {
  width: 249px;
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  border-radius: 16px;
  background: #F3F3F3;
}
.contacts__address_big {
  width: 266px;
}
.contacts__block-name {
  display: flex;
  align-items: center;
  gap: 4px;
}
.contacts__name-title {
  color: #67ADA1;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.contacts__name-text {
  color: #67ADA1;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.contacts__svg {
  height: 40px;
  width: 40px;
}
.contacts__svg-box {
  display: flex;
  gap: 4px;
}

.service {
  height: 3519px;
  background-color: #F3F3F3;
  background-image: url(img/service-background.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw;
}
.service__title {
  color: #67ADA1;
  font-size: 36px;
  font-weight: bold;
  line-height: normal;
  padding-bottom: 24px;
}
.service__content {
  width: 1122px;
  height: 307px;
  border-top: #67ADA1 1px solid;
  padding-top: 24px;
  display: flex;
  gap: 23px;
}
.service__content-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.service__content-left {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service__content-center {
  width: 340px;
}
.service__name {
  color: #67ADA1;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
.service__list {
  color: #67ADA1;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.service__img {
  border-radius: 16px;
}

.kids-top {
  width: 1123px;
  height: 542px;
  background-color: #F3F3F3;
  display: flex;
  gap: 25px;
}
.kids-top__left {
  width: 738px;
}
.kids-top__right {
  width: 360px;
  position: relative;
}
.kids-top__title, .advantages__title {
  height: 50px;
  color: var(--Brand, #67ADA1);
  font-size: 36px;
  font-weight: bold;
  line-height: normal;
  padding-bottom: 24px;
}
.kids-top__description {
  width: 359px;
  height: 230px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  background: #F3F3F3;
  box-shadow: 0 4px 4px 0 rgba(56, 56, 56, 0.25);
}
.kids-top__description_green {
  background: linear-gradient(262deg, #7BC2B6 0%, #67ADA1 99.4%);
}
.kids-top__description-up {
  width: 343px;
  height: 74px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 12px;
}
.kids-top__description-title {
  color: #67ADA1;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.kids-top__description-title_green {
  color: #F3F3F3;
}
.kids-top__description-text {
  width: 343px;
  color: #67ADA1;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.kids-top__description-text_green {
  color: #F3F3F3;
}
.kids-top__description-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 8px;
}
.kids-top__img {
  border-radius: 16px;
  z-index: 2;
  position: absolute;
}
.kids-top__img-shadow {
  width: 340px;
  height: 517px;
  border-radius: 16px;
  background: linear-gradient(262deg, #7BC2B6 0%, #67ADA1 99.4%);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.for-whom {
  height: 540px;
  background: url("img/fw-background.png") no-repeat bottom center/cover, linear-gradient(262deg, #7BC2B6 0%, #67ADA1 99.4%);
}
.for-whom__title {
  color: var(--Background, #F3F3F3);
  font-size: 36px;
  font-weight: bold;
  line-height: normal;
  padding-top: 40px;
  padding-bottom: 27px;
}
.for-whom__content {
  width: 360px;
  height: 178px;
  border-radius: 16px;
  background: #F3F3F3;
  position: relative;
}
.for-whom__content_big {
  width: 550px;
}
.for-whom__content-box {
  height: 383px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.for-whom__content-up, .for-whom__content-down {
  display: flex;
  gap: 20px;
}
.for-whom__content-title {
  width: 259px;
  color: #67ADA1;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  padding-top: 20px;
  padding-left: 8px;
}
.for-whom__content-title_big {
  width: 448px;
}
.for-whom__content-text {
  width: 259px;
  color: #5C5C5C;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding-top: 8px;
  padding-left: 8px;
  position: absolute;
  z-index: 1;
}
.for-whom__content-text_big {
  width: 448px;
}
.for-whom__img {
  position: absolute;
  bottom: 8px;
  right: 0px;
}

.advantages {
  height: 1084px;
  background: url("img/adv-background.png") no-repeat top center/cover, #F3F3F3;
}
.advantages__title {
  padding-top: 100px;
  padding-bottom: 13px;
}
.advantages__content-box {
  height: 821px;
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.advantages__content-up {
  height: 474px;
  display: flex;
  gap: 21px;
}
.advantages__content-down {
  height: 306px;
  display: flex;
  gap: 21px;
}
.advantages__content-left {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.advantages__content-right {
  width: 454px;
  height: 455px;
  display: flex;
  gap: 8px;
  align-items: flex-end;
}
.advantages__peculiarities {
  display: flex;
  gap: 12px;
}
.advantages__peculiarities-text {
  width: 579px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}
.advantages__number {
  color: #67ADA1;
  font-size: 96px;
  font-weight: bold;
  line-height: normal;
}
.advantages__number-box {
  width: 54px;
  height: 144px;
  display: flex;
  align-items: center;
}
.advantages__tags {
  color: #67ADA1;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.advantages__tags-desc {
  color: #67ADA1;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.advantages__img {
  border-radius: 16px;
}
.advantages__img_small {
  width: 230px;
  height: 154px;
}/*# sourceMappingURL=style.css.map */