* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Helvetica', 'Helvetica Rounded LT Std', sans-serif;
}

.center {
  padding-left: calc(50% - 560px);
  padding-right: calc(50% - 560px);
}

.top {
    height: 529px;
    background-image: url(img/top-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    height: 129px;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 28px;
    padding-left: 61px;

    &-link{
        color: rgba(92, 92, 92, 1);font-family: Helvetica;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;        
        text-align: left;
    }

    &-link:hover {
        color: rgba(103, 173, 161, 1);             
        font-weight: 700; 
        position: relative;   
    }

    &-link:hover::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: rgba(103, 173, 161, 1);
        border-radius: 16px;
        z-index: -1;
    }
}

.top__content {
    margin-top: 75px;
}

.title {
    width: 433px;
    color: rgba(92, 92, 92, 1);    
    font-size: 36px;
    font-weight: 700;    
    text-align: left;
    margin-bottom: 12px;
    }

.description {
    width: 433px;
    color: rgba(92, 92, 92, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 36px;
} 

.top-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 154px;
    height: 50px;    
    border-radius: 16px;
    background: rgba(103, 173, 161, 1);
    color: var(--Background, rgba(243, 243, 243, 1));
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    text-align: left;       
}

.tags {
    height: 591px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: rgba(243, 243, 243, 1);
    background-image: url(img/tags-background.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size:contain;

    &__title {
        height: 50px;
        margin-top: 140px;
        color: rgba(103, 173, 161, 1);
        font-size: 36px;
        font-weight: 700;
        text-align: left;
    }

    &__content {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    &__img {
        height: 75px;   
        width: 75px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 8px;        
    }

    &__h3 {
        color: rgba(103, 173, 161, 1);
        font-family: Arial;
        font-size: 20px;
        font-weight: 700;
        text-align: left;
    }

    &__text {
        color: rgba(103, 173, 161, 1);
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        width: 455px;
        line-height: 24px;
    }
}

.about-us {
    height: 530px;
    background: var(--Brand, rgba(103, 173, 161, 1));
    background-image: url(img/about-us-background.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;


    &__title {
        color:rgba(243, 243, 243, 1);
        font-family: Arial;
        font-size: 24.5px;
        font-weight: 700;
        line-height: 100%;
        text-align: left;
        padding-top: 40px;
        padding-bottom: 24px;
    }

    &__content {
        display: flex;
        gap: 20px;
        width: 1120px;
    }

    &__text {
        width: 550px;        
        color: rgba(243, 243, 243, 1);
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
    }

    &__img-box {
        width: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    &__img {
        border-radius: 12px;
    }
}

.doctors {
    height: 919px;
    background: rgba(243, 243, 243, 1);
    background-image: url(img/doctors-background.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        color: rgba(103, 173, 161, 1);
        font-size: 36px;
        font-weight: 700;
        line-height: 100%;
        text-align: left;
        padding-bottom: 24px;
        padding-top: 168px;
    }

    &__content {
        display: flex;
        height: 558px;
        width: 1120px;
        justify-content: space-between;
        align-items: center;
        gap: 47px;
    }

    &__slider {
        height: 47px;
        width: 47px;
    }

    &__people {
        width: 932px;
        height: 558px;
        overflow: hidden;
        display: flex;
        gap: 20px;
    }

    &__case {
        width: 265px;
        height: 538px;
        box-sizing: border-box;
        border: 1px solid rgba(238, 238, 238, 1);
        border-radius: 12px;
        box-shadow: 0px 4px 4px 0px rgba(56, 56, 56, 0.45);
        display: flex;
        flex-direction: column; 
        gap: 12px;     
        align-items: center;
        justify-content: center;
        padding: 12px;

        &-down {
            height: 156px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__photo {
        border-radius: 12px;
        width: 241px;
        height: 346px;        
    }

    &__name-box {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
    }

    &__name {
        color: rgba(92, 92, 92, 1);
        font-size: 16px;
        font-weight: 700;
        line-height: 125%;
        text-align: center;
        height: 44px;
    }

    &__speciality {
        color: rgba(92, 92, 92, 1);
        font-size: 16px;
        font-weight: 400;
        line-height: 125%;
        text-align: center;        
    }

    &__button {
        color: rgba(255, 255, 255, 1);
        font-size: 20px;
        font-weight: 700;
        line-height: 100%;
        text-align: center;
        border-radius: 16px;
        background: rgba(103, 173, 161, 1);
        display: flex;
        width: 241px;
        height: 52px;
        justify-content: center;
        align-items: center;         
    }
}