* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica", sans-serif;
}

.center {
  padding-left: calc(50% - 560px);
  padding-right: calc(50% - 560px);
}

.top {
  height: 529px;
  background-image: url(img/top-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  height: 129px;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 28px;
  padding-left: 61px;
}
.menu-link {
  color: rgb(92, 92, 92);
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
.menu-link:hover {
  color: rgb(103, 173, 161);
  font-weight: 700;
  position: relative;
}
.menu-link:hover::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgb(103, 173, 161);
  border-radius: 16px;
  z-index: -1;
}

.top__content {
  margin-top: 75px;
}

.title {
  width: 433px;
  color: rgb(92, 92, 92);
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 12px;
}

.description {
  width: 433px;
  color: rgb(92, 92, 92);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 36px;
}

.top-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 154px;
  height: 50px;
  border-radius: 16px;
  background: rgb(103, 173, 161);
  color: var(--Background, rgb(243, 243, 243));
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.tags {
  height: 591px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: rgb(243, 243, 243);
  background-image: url(img/tags-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.tags__title {
  height: 50px;
  margin-top: 140px;
  color: rgb(103, 173, 161);
  font-size: 36px;
  font-weight: 700;
  text-align: left;
}
.tags__content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.tags__img {
  height: 75px;
  width: 75px;
}
.tags__description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tags__h3 {
  color: rgb(103, 173, 161);
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}
.tags__text {
  color: rgb(103, 173, 161);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  width: 455px;
  line-height: 24px;
}

.about-us {
  height: 530px;
  background: var(--Brand, rgb(103, 173, 161));
  background-image: url(img/about-us-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-us__title {
  color: rgb(243, 243, 243);
  font-family: Arial;
  font-size: 24.5px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 24px;
}
.about-us__content {
  display: flex;
  gap: 20px;
  width: 1120px;
}
.about-us__text {
  width: 550px;
  color: rgb(243, 243, 243);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.about-us__img-box {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.about-us__img {
  border-radius: 12px;
}

.doctors {
  height: 919px;
  background: rgb(243, 243, 243);
  background-image: url(img/doctors-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.doctors__title {
  color: rgb(103, 173, 161);
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  padding-bottom: 24px;
  padding-top: 168px;
}
.doctors__content {
  display: flex;
  height: 558px;
  width: 1120px;
  justify-content: space-between;
  align-items: center;
  gap: 47px;
}
.doctors__slider {
  height: 47px;
  width: 47px;
}
.doctors__people {
  width: 932px;
  height: 558px;
  overflow: hidden;
  display: flex;
  gap: 20px;
}
.doctors__case {
  width: 265px;
  height: 538px;
  box-sizing: border-box;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(56, 56, 56, 0.45);
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.doctors__case-down {
  height: 156px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.doctors__photo {
  border-radius: 12px;
  width: 241px;
  height: 346px;
}
.doctors__name-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}
.doctors__name {
  color: rgb(92, 92, 92);
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  text-align: center;
  height: 44px;
}
.doctors__speciality {
  color: rgb(92, 92, 92);
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  text-align: center;
}
.doctors__button {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  border-radius: 16px;
  background: rgb(103, 173, 161);
  display: flex;
  width: 241px;
  height: 52px;
  justify-content: center;
  align-items: center;
}

.feedback {
  height: 524px;
  background-image: url(img/form-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.feedback__title {
  color: rgb(59, 118, 108);
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 24px;
  width: 802px;
}
.feedback__form {
  width: 548px;
  height: 344px;
  border-radius: 16px;
  background: rgb(243, 243, 243);
}
.feedback__text-top {
  color: rgb(103, 173, 161);
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  padding-top: 32px;
  margin-bottom: 12px;
}
.feedback__input {
  width: 516px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 20px;
  background: none;
  color: rgb(170, 170, 170);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  padding-left: 12px;
  font-family: inherit;
  margin-bottom: 8px;
  outline: none;
  margin-left: 16px;
}
.feedback__input::-moz-placeholder {
  color: rgb(170, 170, 170);
}
.feedback__input::placeholder {
  color: rgb(170, 170, 170);
}
.feedback__text-down {
  color: rgb(103, 173, 161);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  width: 358px;
  height: 36px;
  margin-bottom: 16px;
  margin-left: 16px;
}
.feedback__button {
  width: 516px;
  height: 52px;
  border-radius: 16px;
  border: none;
  background: rgb(103, 173, 161);
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  margin-left: 16px;
  cursor: pointer;
}
.feedback__button:hover {
  background: rgb(104, 108, 107);
}/*# sourceMappingURL=style.css.map */